# ignore images except the ones from the docs
*.png
!docs/img/*.png

# ignore go workspaces
*.work
*.work.sum

# ignore fonts for testing
/fonts/
*.ttf
*.otf

# ignore generated testdata files
testdata_*.go
!testdata_test.go
!testdata_generate.go

# ignore root copies of scripts if anyone uses them
/*.sh
/*.bat

# don't share the dirty secrets
TODO.txt

# ignore some work directories
unused/
